<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, </h3>
    <p>You have received a new application. Please go to the <a href= "<%= @url %>" >  link </a>.</p>
   	<p>	Details of the email is :- </p>
   	<p><b>Sponsor: </b> <%= @sponsor %></p>
		<p><b>Due Date: </b> <%= @params[:due_Date] %></p>
		<p><b>Funding Announcement: </b> 
		<% unless @media_name.blank? %>
			Please find it attached.
    <% else %>
    	<%= @media_url %>
    <% end %>	</p>
    <p><b>Collaborator Information: </b> 
            <table border="1">
              <thead>
                <tr >
                  <th class="text-center">#</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Center</th>
                  <th class="text-center">Allocation</th>
                </tr>
              </thead>
              <tbody>
             <% @params[:collaborator].each_with_index do |c, index|
								category, name, center = get_person_detail(index,@params[:collaborator_text][index],@params[:center_text][index],@params[:center][index], c) %>
                <tr>
                  <td><%= category.upcase %></td>
                  <td><%= name %></td>
                  <td><%= center %></td>
                  <td><%= @params[:allocation][index] %></td>
                 </tr>
              <% end %>  
              </tbody>
            </table>
        </p>
				<p><b>External Collaborator Information: </b>
            <table  border="1" >
              <thead>
                <tr >
                  <th class="text-center">#</th>
                  <th class="text-center">Questions</th>
                  <th class="text-center">Information</th>                  
                </tr>
              </thead>
              <tbody>
							<% @params[:external_name].each_with_index do |c, index|	
									if not(c.blank?) %>
                <tr>
                  <td rowspan="4"><li></li></td>
                  <td >Name</td>
                  <td><%= @params[:external_name][index] %></td>
                </tr>
                <tr>
                  <td>Contact</td>
                  <td><%= @params[:external_contact][index] %></td>
                </tr>
                <tr>
                  <td>Which Institution is the Lead?</td>
                  <td><%= @params[:external_institution][index] %></td>
                </tr>
                <tr>
                  <td>Name of Lead PI at collaborating institutions? </td>
                  <td><%= @params[:external_PI][index] %></td>
                </tr> 
					      <% 
									end
								end
								%>
              </tbody>
            </table>    
      </p>
    <p><b>Project Title: </b> <%= @params[:title] %></p>
		<p><b>Start Date: </b> <%= @params[:startDate] %></p>
		<p><b>End Date: </b> <%= @params[:endDate] %></p>
		<p><b>Budget request: </b><%= @params[:budget] %>
		<% if @params[:budget]=="yes" %>
            <table  border="1" >
  		        <tbody>
							  <tr>
                  <td >Total project budget targets</td>
                  <td><%= @params[:total_budget] %></td>
                </tr>
                <tr>
                  <td>Annual budget targets</td>
                  <td><%= @params[:annual_budget] %></td>
                </tr>
                <tr>
                  <td>PI and Co-PI effort</td>
                  <td><%= @params[:pi_co_effort] %></td>
                </tr>
                <tr>
                  <td >Graduate Students</td>
                  <td><%= @params[:grad_student] %></td>
                </tr>
                <tr>
                  <td>Post Docs</td>
                  <td><%= @params[:post_docs] %></td>
                </tr>
                <tr>
                  <td>Other Staff</td>
                  <td><%= @params[:other_staff] %></td>
                </tr>
                <tr>
                  <td >Materials and Supplies</td>
                  <td><%= @params[:material_supplies] %></td>
                </tr>
                <tr>
                  <td>Equipment and Facility Use Fees</td>
                  <td><%= @params[:equipment_fees] %></td>
                </tr>
                <tr>
                  <td>Consultants</td>
                  <td><%= @params[:consultants] %></td>
                </tr>
                <tr>
                  <td >Subgrants or collaborators</td>
                  <td><%= @params[:subgrant] %></td>
                </tr>
                <tr>
                  <td>Publications</td>
                  <td><%= @params[:publications] %></td>
                </tr>
                <tr>
                  <td>Foreign Travel</td>
                  <td><%= @params[:foreign_travel] %></td>
                </tr>
                <tr>
                  <td >Domestic Travel</td>
                  <td><%= @params[:domestic_travel] %> <br/><br/><%= @params[:domestic_description] %></td>
                </tr>
                <tr>
                  <td>Non-Capital Equipment</td>
                  <td><%= @params[:non_capital_equipment] %><br/><br/><%= @params[:non_capital_description] %></td>
                </tr>
                <tr>
                  <td>Other</td>
                  <td><%= @params[:budget_other] %></td>
                </tr>
              </tbody>
            </table>    
            <% end %>
    </p>
		<p><b>Cost Share: </b> <%= @params[:costshare] %>
		<% if @params[:costshare]=="yes" %>
			, <%= @params[:funding] %>
		<% end %></p>
		<p><b>Human Subjects?:</b> <%= @params[:human_subject] %></p>
		<p><b>Clinical Trials?:</b> <%= @params[:clinical_trials] %></p>
		<p><b>Vertebrate animals?:</b> <%= @params[:animals] %></p>
		<p><b>Biological, Hazardous Materials, or Chemical Materials Waste?:</b> <%= @params[:waste] %></p>
	  <p><b>IP issues?:</b> <%= @params[:ip_issues] %></p>
		<p><b>Financial conflict of interest for this proposal:</b> <%= @params[:conflict] %>
		<% if @params[:conflict]=="yes" %>
			, with <%= @params[:conflict_person] %>
		<% end %></p>
    <p>Thank you! </p>
  </body>
</html>