<%= bootstrap_devise_error_messages! %>
<div class="border-form-div">
  <h4 class="form-heading">Resend confirmation instructions!</h4><br/>
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
  <div class="form-group ">
		<label class="col-sm-4" for="email">Email address</label>
	  <div class="col-sm-3">
    	<%= f.email_field :email, :autofocus => true ,:class=>"form-control" %>
    </div>
  </div>
  <div> 
    <%= f.submit "Resend confirmation instructions",:class=>'btn btn-primary' %>
  </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>