<%= bootstrap_devise_error_messages! %>
<div class="border-form-div">
  <h4 class="form-heading">Edit Profile!</h4><br/>
  <%= form_for(resource, :as => resource_name, :url => user_registration_path(resource), :html => { :method => :put }) do |f| %>
    <div class="form-group ">
    <label class="col-sm-4" for="email">Email address</label>
    <div class="col-sm-3">
    <%= f.email_field :email, :autofocus => true,:class=>"form-control" %><br/>
    </div>
    </div>
  
    <div class="form-group ">
    <label class="col-sm-4" for="password">Password (leave blank if you don't want to change it)</label>
    <div class="col-sm-3">
    <%= f.password_field :password, :autocomplete => "off",:class=>"form-control" %>
      </div>
    </div>
    <div class="form-group ">
      <label class="col-sm-4" for="password_confirmation">Password Confirmation</label>
      <div class="col-sm-3">
    <%= f.password_field :password_confirmation,:class=>"form-control" %>
      </div>
    </div>

    <div class="form-group ">
      <label class="col-sm-4" for="current_password">Current Password (Need current password to confirm your changes)</label>
      <div class="col-sm-3">
    <%= f.password_field :current_password,:class=>"form-control" %><br/>
    </div>
    </div>
    <div>
    <%= f.submit "Update",:class=>'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
