<%= bootstrap_devise_error_messages! %>
<div class="border-form-div">
  <h4 class="form-heading">Sign Up!</h4><br/>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="form-group ">
      <label class="col-sm-4" for="email">Email address</label>
      <div class="col-sm-3">
        <%= f.email_field :email, :autofocus => true ,:class=>"form-control"%>
        </div>  
    </div>
    <div class="form-group ">
      <label class="col-sm-4" for="password">Password</label>
      <div class="col-sm-3">
        <%= f.password_field :password,:class=>"form-control"  %>
      </div>
    </div>
    <div class="form-group ">
      <label class="col-sm-4" for="password_confirmation">Password Confirmation</label>
      <div class="col-sm-3">
        <%= f.password_field :password_confirmation, :class=>"form-control" %>
      </div>
    </div>
    <div>
      <%= f.submit "Sign up",:class=>'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>