<%= bootstrap_devise_error_messages! %>
<div class="border-form-div">
  <h4 class="form-heading">Resend unlock instructions</h4><br/>
  <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f| %>
    <div class="form-group">
    <div class="form-group ">
      <label class="col-sm-4" for="email">Email</label>
      <div class="col-sm-3">
        <%= f.email_field :email, :autofocus => true,:class=>"form-control" %>
      </div>
    </div>
    <div>
    <%= f.submit "Resend unlock instructions",:class=>'btn btn-primary' %>
    </div>
  <% end %>
  <br/>
  <%= render "devise/shared/links" %>
</div>
      