<%= bootstrap_devise_error_messages! %>
<div class="border-form-div">
  <h4 class="form-heading">Change your password!</h4><br/>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-group ">
	<label class="col-sm-4" for="password">New Password</label>
	<div class="col-sm-3">
    <%= f.password_field :password,:class=>"form-control" %>
    </div>
    </div>
    <div class="form-group ">
	<label class="col-sm-4" for="password_confirmation">Confirm New Password</label>
	<div class="col-sm-3">
    <%= f.password_field :password_confirmation,:class=>"form-control" %>
    </div>
    </div>
    <div>
    <%= f.submit "Change my password",:class=>'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
