<div class="border-form-div">
  <h4 class="form-heading">Forgot your password?</h4><br/>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
    <div class="form-group ">
	<label class="col-sm-4" for="email">Email</label>
	<div class="col-sm-3">
    <%= f.email_field :email, :autofocus => true,:class=>"form-control" %>
    </div>
    </div>
    <div>
    <%= f.submit "Send me reset password instructions",:class=>'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
