<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/user_header' %>
  <h2 align="center"> CIDSE Intake Form </h2>
  <script type="text/javascript">
    var person = '<%= @people.to_json %>';
    var center = '<%= @center.to_json %>';
    var data_project = '<%= @data_project.to_json %>';
    var data_budget = '<%= @data_budget.to_json %>';
    var data_person = '<%= @data_person.to_json %>';
    person = $.parseJSON(person.replace(/&quot;/ig, '"'));
    center = $.parseJSON(center.replace(/&quot;/ig, '"'));
    data_project = $.parseJSON(data_project.replace(/&quot;/ig, '"'));
    data_budget = $.parseJSON(data_budget.replace(/&quot;/ig, '"'));
    data_person = $.parseJSON(data_person.replace(/&quot;/ig, '"'));
  </script>
  <hr class="line">
  <h3 align="center"> Additional Information </h3>
</head>  
<body class = "body <%= controller_name %> <%= action_name %>">
  <form id="intake_form" method="POST" action="/iforms" class="form-horizontal top-10" enctype="multipart/form-data">
    <%= hidden_field_tag 'id',  params[:id] %>
    <%= hidden_field_tag 'lock_version', @data_project[0]["lock_version"] %>
    <input type = "hidden" name = "authenticity_token"  value = "<%= form_authenticity_token %>" />
    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="ra_name"><b>RA (Name)</b></label>  
        <input type="text" class="input-xxlarge form-control" name="ra_name" id="ra_name" placeholder="RA Name">  
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="proposal_status"><b>Proposal Status</b></label>  
        <select class="input-xxlarge form-control" name="proposal_status" id="proposal_status"> 
          <option value=""></option>
          <option value="Submitted">Submitted</option>
          <option value="Intake">Intake</option>
          <option value="Budget">Budget</option>
        </select>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="award_status"><b>Award Status</b></label>  
        <select class="input-xxlarge form-control" name="award_status" id="award_status"> 
          <option value=""></option>
          <option value="Submitted">Submitted</option>
          <option value="Intake">Intake</option>
          <option value="Budget">Budget</option>
        </select>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="solicitation"><b>solicitation</b></label>  
        <input type="text" class="input-xxlarge form-control" name="solicitation" id="solicitation" placeholder="Solicitation">  
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="routing_no"><b>Proposal Routing #</b></label>  
        <input type="text" class="input-xxlarge form-control" name="routing_no" id="routing_no" placeholder="Proposal Routing #">  
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="fastlane_no"><b>Fastlane#</b></label>  
        <input type="text" class="input-xxlarge form-control" name="fastlane_no" id="fastlane_no" placeholder="Fastlane#">  
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="notes"><b>Additional Notes</b></label>  
        <textarea rows="8" class="span5" style="margin-top:10px" name="notes"></textarea>  

      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>            

    <hr style="border:dashed #00CCFF; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:0;padding:0;">

    <h3 align="center"> Filled Information </h3>
    <input type = "hidden" name = "authenticity_token"  value = "<%= form_authenticity_token %>" />
    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="sponsor" class="required"><b>Sponsor</b></label>  
        <input type="text" class="input-xxlarge sponsor"  name='sponsor' placeholder='sponsor name' data-validation="required" />
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="due_Date" class="required"><b>Due Date</b></label>  
        <input type="text" class="input-xxlarge" id="due_Date" name="due_Date" maxlength="10" data-validation="date" data-validation-format="mm-dd-yyyy">   
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="funding_option" class="required"><b>Funding Announcement, attach file or link</b></label> 
      <% if(@data_project[0]["option"]=="attach_file") %>
        <input type="radio" data-validation="required" checked="checked" name="funding_option" class="funding_check" value="attach_file" > <strong>Attach File</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="funding_option" class="funding_check" value="provide_link"> <strong>Provide Link</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>

        <input type="text" class="input-xxlarge" style="display:none;" id="remote_url" name="remote_url"   placeholder="write url of the link">   

        <div id="uploaded" style="display:block; margin-top:10px;">
          <% url = "/uploads/#{(@data_project[0]['funding']).split("/").last}" %>
          <a href="<%= url %>" download>Download file</a>&nbsp;&nbsp;&nbsp;
          <u> OR </u>&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-default new_file"><i class="glyphicon glyphicon-trash"></i><span>Upload new file</span></button>
       </div>
        <div id="file_upload" style="display:none">  
          <input id="file_upload_input" name='file_name' type='file' class="bottom_5"  
           data-validation-allowing="jpg, png, pdf, gif, zip" 
           data-validation-max-size="3M" 
           data-validation-error-msg-size="You can not upload files larger than 3MB"
           data-validation-error-msg-mime="You can only upload jpg, png, pdf, gif, zip format"> 
        </div>
  
      <% elsif(@data_project[0]["option"]=="provide_link") %>
        <input type="radio" data-validation="required" name="funding_option" class="funding_check" value="attach_file" > <strong>Attach File</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="funding_option" checked="checked" class="funding_check" value="provide_link"> <strong>Provide Link</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>

        <input type="text" class="input-xxlarge" style="display:block; margin-top:10px;" id="remote_url" name="remote_url"  data-validation="required" placeholder="write url of the link" value="<%= @data_project[0]['funding']%>">   

        <div id="file_upload" style="display:none;">  
          <input id="file_upload_input" name='file_name' type='file' class="bottom_5" 
          data-validation-error-msg-size="You can not upload files larger than 3MB"
          data-validation-error-msg-mime="You can only upload jpg, png, pdf, gif, zip format" />
        </div>
      <% end %>
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="collaboration" class="required"><b>Collaborator Information</b></label> 
        <div class="clearfix">
          <div class="col-md-12 column">
            <table class="table table-bordered table-hover width_60" id="tab_logic">
              <thead>
                <tr >
                  <th class="text-center">
                    #
                  </th>
                  <th class="text-center">
                    Name
                  </th>
                  <th class="text-center">
                    Center
                  </th>
                  <th class="text-center">
                    Allocation
                  </th>
                  <th class="text-center">
                    -
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id='addr1'></tr>
              </tbody>
            </table>
          </div>
        </div>
        <a id="add_row" class="btn btn-default pull-left">Add CO-PI</a>

      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="external_collaborator"><b>External Collaborator Information</b></label> 
        <div class="clearfix">
          <div class="col-md-12 column">
            <table  border="1"  class="table table-hover width_85" id="tab_col">
              <thead>
                <tr >
                  <th class="text-center">
                    #
                  </th>
                  <th class="text-center">
                    Questions
                  </th>
                  <th class="text-center">
                    Information
                  </th>
                  <th class="text-center">
                    -
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id='addr1'></tr>
              </tbody>
            </table>
          </div>
        </div>
        <a id="add_clrow" class="btn btn-default pull-left">Add Collaborators</a>

      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="title" class="required"><b>Project Title</b></label>  
        <input type="text" class="input-xxlarge form-control" name="title" id="title" placeholder="Project Title" data-validation="required">  
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="startDate" class="required"><b>Project Start Date</b></label>  
        <input type="text" class="input-xxlarge" id="startDate" name="startDate" maxlength="10" data-validation="date" data-validation-format="mm-dd-yyyy">   
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="endDate" class="required"><b>Project End Date</b></label>  
        <input type="text" class="input-xxlarge" id="endDate" name="endDate" maxlength="10" data-validation="date" data-validation-format="mm-dd-yyyy">   
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="budget"><b>Budget request</b></label> 
        <input type="radio" class="budget" name="budget" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" class="budget" name="budget" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>                      
        <div id="budget" style="display:none;">
          <input type="text" name="total_budget" placeholder="Total project budget targets">
          <input type="text" name="annual_budget"placeholder="Annual budget targets">
          <input type="text" name="pi_co_effort" placeholder="PI and Co-PI effort">
          <input type="text" name="grad_student" placeholder="Graduate students">
          <input type="text" name="post_docs"  placeholder="Post Docs">
          <input type="text" name="other_staff"  placeholder="Other Staff">
          <input type="text" name="material_supplies"placeholder="Materials and Supplies">
          <input type="text" name="equipment_fees" placeholder="Equipment and Facility Use Fees">
          <input type="text" name="consultants"  placeholder="Consultants">
          <input type="text" name="subgrant"  placeholder="Subgrants or collaborators">
          <input type="text" name="publications" placeholder="Publications">
          <input type="text" name="foreign_travel" placeholder="Foreign Travel">
          <input type="text" name="domestic_travel"  style="display:block" placeholder="Domestic Travel">
          <textarea rows="8" name="domestic_description" class="span5 top_10" placeholder="If Domestic Travel amount present then specify the meetings or conferences you will attend."></textarea>  
          <input type="text" name="non_capital_equipment" style="display:block" placeholder="Non-Capital Equipment">
          <textarea rows="8" name="non_capital_description" class="span5 top_10" placeholder="If computer equipment is included, description of the equipment must indicate that the equipment is not general computer equipment that can be used on other projects or for faculty's academic appointment activities (ASU classes,etc.). The equipment must be described as uniquely required for and dedicated only to the project proposed."></textarea>  
          <input type="text" name="budget_other" style="display:block" placeholder="Other">
        </div>     
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="costshare"><b>Cost Share?</b></label> 
        <input type="radio" class="costshare" name="costshare" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" class="costshare" name="costshare" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
        <input type="text" class="input-xxlarge" style="display:none;"  id="funding" name="funding" placeholder="How much cost is shared?">   
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="human_subject"><b>Human Subjects?</b></label> 
        <input type="radio" name="human_subject" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="human_subject" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="clinical_trials"><b>Clinical Trials?</b></label> 
        <input type="radio" name="clinical_trials" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="clinical_trials" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="animals"><b>Vertebrate animals?</b></label> 
        <input type="radio" name="animals" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="animals" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="waste"><b>Biological, Hazardous Materials, or Chemical Materials Waste?</b></label> 
        <input type="radio" name="waste" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="waste" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="ip_issues"><b>IP issues?</b></label> 
        <input type="radio" name="ip_issues" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="ip_issues" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="conflict"><b>Financial conflict of interest for this proposal</b></label> 
        <input type="radio" class="conflict" name="conflict" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" class="conflict" name="conflict" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>                      
        <input type="text" class="input-xxlarge" style="display:none;" id="conflict" name="conflict_person" placeholder="Please note with which investigator">   
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="form-actions" style="padding-top:10px; padding-left:20px">  
      <button type="submit" id="apply_filter" class="btn btn-primary">Submit</button>  &nbsp; &nbsp; &nbsp; &nbsp;  
      <button type="submit" id="reset" class="btn btn-danger">Reset</button>  
    </div>  
  </form>
</body>
</html>