<div class="border-form-div">
  <h4 class="form-heading">Sign In!</h4>
  <br/>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-group ">
      <label class="col-sm-4" for="email">Email address</label>
      <div class="col-sm-3">
        <%= f.email_field :email, :autofocus => true ,:class=>"form-control"%>
      </div>  
    </div>
    <div class="form-group ">
      <label class="col-sm-4" for="password">Password</label>
      <div class="col-sm-3">
        <%= f.password_field :password %>
      </div>
    </div>
    <% if User.find_by_email(resource.email) %>
      <% if User.find_by_email(resource.email).failed_attempts >= User.logins_before_captcha %>
        <%= recaptcha_tags display: {theme: 'white'} %>
      <% end %>
    <% end %>
    <% if devise_mapping.rememberable? %>
      <label class="checkbox"> <%= f.check_box :remember_me %> Rembmer me </label>
    <% end %>
    <%= f.submit "Sign in",:class=>'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
