.left_div{
    width: 75%;
    float:left;
}
.right_div{
    width: 20%;
    margin-left:10px;
    float:left;
    word-wrap: break-word;
    background-color: grey;
}

.parent_div{
	width: 100%;
    overflow:auto;
    padding-top:2em;
}

.budget_inside{
    margin-top: 15px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}


.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.line{
  border:dashed #00CCFF;
  border-width:1px 0 0 0; 
  height:0;
  line-height:0px;
  font-size:0;
  margin:0;
  padding:0;
}

.body{
  margin-left:15em; 
  margin-right:10em;
}

.top_10{
  margin-top:10px
}

.bottom_5{
  margin-bottom:5px;
}

.width_60{
  width:60%;
}

.width_85{
  width:85%;
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
            margin-top: 40px;
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 280px;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: #00a087;
} 

.iforms, .filters, .track  {
  padding-top: 50px;
}

.required:after {
    color: red;
    content: ' *';
}