<?xml version="1.0"?>
<% headers["Content-Disposition"] = "attachment; filename=\"RA_Grant.xls\"" %>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <% if not (PROJECT.keys & params.keys).empty? 
  (params[:fromDate]..params[:toDate]).select {|d| d.day == 1}.map {|d| d.strftime("%B %Y") }.uniq.each do |p_name | %>
    <Worksheet ss:Name="Projects <%= p_name %> ">
      <Table>
        <Row>        
          <% params.each_with_index do |p,index| 
              if PROJECT[p[0]] %>
                <Cell><Data ss:Type="<%=PROJECT[p[0]][1]%>"><%=PROJECT[p[0]][0]%></Data></Cell>
              <% end
            end %>
        </Row>

          <%@data_project.each(:as => :hash) do |record| 
            if record['due_date'].strftime("%B %Y") == p_name %>
              <Row>        
              <% keys = PROJECT.keys
                params.each do |p|            
                  if record[p[0]] %>
                       <Cell><Data ss:Type="<%=PROJECT[p[0]][1]%>"><%=record[p[0]]%></Data></Cell>
                  <% elsif keys.include? p[0]  %>
                    <Cell><Data></Data></Cell>
                  <% end
                end %>
              </Row>
           <% end 
           end %>
      </Table>
    </Worksheet>
  <% end 
  end %>

  <% if(@data_budget) 
    (params[:fromDate]..params[:toDate]).select {|d| d.day == 1}.map {|d| d.strftime("%B %Y") }.uniq.each do |p_name | %>
    <Worksheet ss:Name="Budget <%= p_name %> ">
      <Table>
        <Row>        
          <% BUDGET.each do |b| %>
            <Cell><Data ss:Type="<%=b[1][1]%>"><%=b[1][0]%></Data></Cell>
          <% end %>
        </Row>

          <%
            @data_budget.each(:as => :hash) do |record| 
              if record['due_date'].strftime("%B %Y") == p_name  %>
            <Row>        
            <% BUDGET.each do |key| %>
                <Cell><Data ss:Type="<%=key[1][1]%>"><%=record[key[0]]%></Data></Cell>
            <% end %>
            </Row>
          <% 
            end 
          end %>
      </Table>
    </Worksheet>
  <% end 
  end %>

  <% if(@data_person) &&  (params[:copi_details]=="copi_details" ||params[:collaborators]=="collaborators" )
    (params[:fromDate]..params[:toDate]).select {|d| d.day == 1}.map {|d| d.strftime("%B %Y") }.uniq.each do |p_name | %>
    <Worksheet ss:Name="Collaborators <%= p_name %> ">
      <Table>
        <Row>        
          <% PERSON.each do |p| %>
                <Cell><Data ss:Type="<%=p[1][1]%>"><%=p[1][0]%></Data></Cell>
          <% end %>
        </Row>

          <%
            @data_person.each(:as => :hash) do |record| 
              if record['due_date'].strftime("%B %Y") == p_name %>
            <Row>        
            <% PERSON.each do |key| %>
                <Cell><Data ss:Type="<%=key[1][1]%>"><%=record[key[0]]%></Data></Cell>
            <% end %>
            </Row>
           <% end 
           end %>
      </Table>
    </Worksheet>
  <% end 
  end %>    
</Workbook>