<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/user_header' %>
    <h2 align="center"> Export Data </h2>
  </head>  
  <body class = "body <%= controller_name %> <%= action_name %>" style="margin-left:15em; margin-right:15em;">
    <form method="POST" action="/filters" class="form-horizontal" style="margin-top:10px">  
      <input type = "hidden" name = "authenticity_token"  value = "<%= form_authenticity_token %>"      
      <div class="parent_div"> <!-- Main Div --> 
        <div class="form-group left_div">
          <label for="fromDate"><b>From Date</b></label>  
          <input type="text" class="input-xxlarge" id="fromDate" name="fromDate" maxlength="10">   
        </div>
        <div class="control-group right_div">
          <label class="control-label" >Description goes here</label>
        </div>
      </div>
      <br/>

      <div class="parent_div"> <!-- Main Div --> 
        <div class="form-group left_div">
          <label for="toDate"><b>To Date</b></label>  
          <input type="text" class="input-xxlarge" id="toDate" name="toDate" maxlength="10">   
        </div>
        <div class="control-group right_div">
          <label class="control-label" for="sponsor">Description goes here</label>
        </div>
      </div>

      <div class="parent_div"> <!-- Main Div --> 
        <div class="form-group left_div">
          
          <label for="filters"><b>Filters</b> &nbsp;&nbsp;&nbsp;<button id="select_all" type="button" class="btn btn-primary">Select all</button>&nbsp;&nbsp;&nbsp;<button id="deselect_all" type="button" class="btn btn-primary">Deselect all</button>  </label>  
        <div class="span2">
          <label class="checkbox">
              <input type="checkbox" name="ra_name" value="ra_name"  checked> RA Name
          </label>
          <label class="checkbox">
            <input type="checkbox" name="pi_details" value="pi_details"  checked> PI
          </label>
          <label class="checkbox">
            <input type="checkbox" name="sponsor" value="sponsor"  checked> Sponsor
          </label>
          <label class="checkbox">
              <input type="checkbox" name="funding" value="funding" > Funding
          </label>
          <label class="checkbox">
                <input type="checkbox" name="start_date" value="start_date" > Start Date
            </label>
            <label class="checkbox">
                <input type="checkbox" name="end_date" value="end_date" > End Date
            </label>
        </div>
        <div class="span2">
            <label class="checkbox">
                <input type="checkbox" name="due_date" value="due_date"  checked> Deadline/ Submission Date
            </label>
            <label class="checkbox">
                <input type="checkbox" name="routing_no" value="routing_no"  checked> Proposal Routing #
            </label>
            
            <label class="checkbox">
              <input type="checkbox" name="copi_details" value="copi_details" > Co-PI
            </label>
            <label class="checkbox">
                <input type="checkbox" name="collaborators" value="collaborators" > Collaborators
            </label>
                        
            <label class="checkbox">
                <input type="checkbox" name="title" value="title" > Title
            </label>
            <label class="checkbox">
                <input type="checkbox" name="budget" value="budget" > Budget
            </label>
            
        </div>
        <div class="span2"> 
            <label class="checkbox">
              <input type="checkbox" name="proposal_status" value="proposal_status"  checked> Proposal Status
            </label>
          
            <label class="checkbox">
                <input type="checkbox" name="award_status" value="award_status"  checked> Award Status
            </label>
            <label class="checkbox">
                <input type="checkbox" name="solicitation" value="solicitation"  checked> Solicitation
            </label>
            <label class="checkbox">
                <input type="checkbox" name="conflict" value="conflict" > Financial Conflicts
            </label>
            <label class="checkbox">
                <input type="checkbox" name="cost_share" value="cost_share" > Cost Share
            </label>
            <label class="checkbox">
                <input type="checkbox" name="human_subjects" value="human_subjects" > Human Subjects
            </label>
        </div>
        <div class="span2">
            <label class="checkbox">
                <input type="checkbox" name="fastlane_no" value="fastlane_no"  checked> Fastlane #
            </label>
            <label class="checkbox">
                <input type="checkbox" name="notes" value="notes"  checked> Additional Notes
            </label>
            <label class="checkbox">
                <input type="checkbox" name="clinical" value="clinical" > Clinical Trials
            </label>
            <label class="checkbox">
                <input type="checkbox" name="animals" value="animals" > Vertebrate animals
            </label>
            <label class="checkbox">
                <input type="checkbox" name="waste" value="waste" > Waste Materials
            </label>
            <label class="checkbox">
                <input type="checkbox" name="ip_issues" value="ip_issues" > IP issues
            </label>
            
        </div>

        
    </div>
    <div class="control-group right_div">
      <label class="control-label" for="sponsor">Description goes here</label>
    </div>
  </div>
  <div class="form-actions" style="padding-top:10px">  
    <button type="submit" id="apply_filter" class="btn btn-success">Export</button>  
  </div>
  </form>
  </body>
</html>
