<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/user_header' %>
    <h2 align="center"> CIDSE Project and Proposal Tracking List </h2>
  </head>  
  <body class = "body <%= controller_name %> <%= action_name %>"  style="margin-left:15em; margin-right:15em;">
    <table class="table table-hover">
        <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Link</th>
        </tr>
        <% @projects.each do |p|  %>
          <tr>
            <td style="width:80%">
              <%= p["title"] %>
            </td>
            <td> <%= p['due_at'].strftime("%m-%d-%Y") %>  </td>
            <% url = "https://"+request.host_with_port + "/track/"+p['id'].to_s %>
             <td> <a target="_blank" href="<%= url %>">link</a>  </td>
          </tr>  
        <% end %>  
    </table>
    <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @projects %>
        </div>
        <%= will_paginate @projects, :container => false %>
      </div>
  </body>   
</html>
    
