<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/user_header' %>
    <script type="text/javascript">
        var data_track = '<%= @data_track.to_json %>';
        data_track = $.parseJSON(data_track.replace(/&quot;/ig, '"'));
    </script>
    <h2 align="center"> CIDSE Project and Proposal Tracking </h2>
  </head>  
  <body class = "body <%= controller_name %> <%= action_name %>"  style="margin-left:15em; margin-right:15em;">
            <form id="intake_form" method="POST" action="/track" class="form-horizontal" style="margin-top:10px">  
            <input type = "hidden" name = "authenticity_token"  value = "<%= form_authenticity_token %>">
            <%= hidden_field_tag 'id',  params[:id] %>
            <%= hidden_field_tag 'lock_version', @data_track[0]["lock_version"] %>
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="title" class="required"><b>Title</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="title" id="title" placeholder="Project or Proposal Title" data-validation="required" readonly>  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="proposalno" class="required"><b>Proposal Number</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="proposalno" id="proposalno" placeholder="Proposal Number" data-validation="required">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
              <div class="form-group left_div">
                <label for="school"><b>School</b></label>  
                <select class="input-xxlarge form-control school" name="school"> 
                  <option value= ""></option>
                  <% @data["school"].each do |record| %>
                  <option value="<%=record%>"><%=record%></option>
                  <% end %>
                  <option value= "other">Other</option>
                </select>
                <input type="text" class="input-xxlarge form-control" style="display:none;" name="school_text" id="school_other" placeholder="School Name">  
              </div>
              <div class="control-group right_div">
                <label class="control-label" >Description goes here</label>
              </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="investigator"><b>Investigator</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="investigator" id="investigator" placeholder="Investigator name" readonly>  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="academic"><b>Academic Program</b></label>  
                    <select class="input-xxlarge form-control academic" name="academic"> 
                      <option value= ""></option>
                      <% @data["academic"].each do |record| %>
                      <option value="<%=record%>"><%=record%></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" class="input-xxlarge form-control" style="display:none;" name="academic_text" id="academic_other" placeholder="academic program">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            
            <div class="parent_div"> <!-- Main Div --> 
              <div class="form-group left_div">
                <label for="sponsor"><b>Sponsor</b></label>  
                <input type="text" class="input-xxlarge form-control" name="sponsor" id="sponsor" placeholder="Sponsor name" readonly>  
              </div>
              <div class="control-group right_div">
                <label class="control-label" >Description goes here</label>
              </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="psname"><b>Prime Sponsor Name</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="psname" id="psname" placeholder="Prime Sponsor Name">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="contact"><b>RA Contact for Proposal</b></label>  
                    <select class="input-xxlarge form-control contact" name="contact"> 
                      <option value= ""></option>
                      <% @data["RA_contact"].each do |record| %>
                      <option value="<%=record%>"><%=record%></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" class="input-xxlarge form-control" style="display:none;" name="contact_text" id="contact_other" placeholder="RA contact">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="gco"><b>GCO Submitting Proposal</b></label> 
                    <select class="input-xxlarge form-control gco" name="gco"> 
                      <option value= ""></option>
                      <% @data["gco"].each do |record| %>
                      <option value="<%=record%>"><%=record%></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" class="input-xxlarge oform-control" style="display:none;" name="gco_text" id="gco_other" placeholder="GCO proposal">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="proposal_status"><b>Proposal Status</b></label>  
                     <select class="input-xxlarge form-control" name="proposal_status" id="proposal_status"> 
                      <option value=""></option>
                      <option value="Submitted">Submitted</option>
                      <option value="Intake">Intake</option>
                      <option value="Budget">Budget</option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="acno"><b>Account Number</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="acno" id="acno" placeholder="Account Number">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="cancel_reason"><b>Cancellation Reason</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="cancel_reason" id="cancel_reason" placeholder="Cancellation Reason">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="fano"><b>FA Number</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="fano" id="fano" placeholder="FA number" readonly>  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="falink"><b>FA Hyperlink</b></label>  
                    <div style="dispaly:block; margin-bottom:10px;">
                      Type the Web address: <br/>
                      <input type="text" style="margin-top:10px;" class="input-xxlarge form-control" name="falink" id="falink" placeholder="" readonly> 
                      <button style="margin-top:10px;" type="button" class="btn btn-primary view"><i class="glyphicon glyphicon-trash"></i><span>View</span></button>
                    </div>
                    Type the description: <br/>
                    <input type="text" style="margin-top:10px;" class="input-xxlarge form-control" name="fadesc" id="fadesc" placeholder="Enter description">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="doctype"><b>Document Type</b></label>  
                    <select class="input-xxlarge form-control doctype" name="doctype"> 
                      <option value= ""></option>
                      <% @data["document_type"].each do |record| %>
                      <option value="<%=record%>"><%=record%></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" class="input-xxlarge oform-control" style="display:none;" name="doctype_text" id="doctype_other" placeholder="document type">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="notification"><b>PI-to-RA Notification</b></label>  
                    <input type="text" class="input-xxlarge" id="notification" name="notification">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>
            
             <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="udeadline"><b>Unit Deadline</b></label>  
                    <input type="text" class="input-xxlarge" id="udeadline" name="udeadline" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sdeadline"><b>Sponsor Deadline</b></label>  
                    <input type="text" class="input-xxlarge"  name="sdeadline" maxlength="10" readonly>   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sdeadline">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="budget"><b>Requested Budget</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="budget" id="budget" placeholder="Requested Budget" readonly>  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="startDate"><b>Requested Start Date</b></label>  
                    <input type="text" class="input-xxlarge" name="startDate" maxlength="10" readonly>   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="startDate">Description goes here</label>
                </div>
            </div>
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="endDate"><b>Requested End Date</b></label>  
                    <input type="text" class="input-xxlarge" name="endDate" maxlength="10" readonly>   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sharing"><b>Cost Sharing ( Check if "Yes")</b></label>  
                    <input type="checkbox" class="input-xxlarge form-control" name="sharing" id="sharing" onclick="return false">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

             <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sharetype"><b>Cost Share Type</b></label>  
                    <select class="input-xxlarge form-control sharetype" name="sharetype"> 
                      <option value= ""></option>
                      <% @data["cost_type"].each do |record| %>
                      <option value="<%=record%>"><%=record%></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" class="input-xxlarge oform-control" style="display:none;" name="sharetype_text" id="sharetype_other" placeholder="cost share type">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="waiver"><b>F&A Waiver</b></label>  
                    <input type="checkbox" class="input-xxlarge form-control" name="waiver" id="waiver">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="highlights"><b>Highlights</b></label>  
                    <textarea rows="8" class="span5" style="margin-top:10px" name="highlights"></textarea>  
                        
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

                       
            <div class="form-actions" style="padding-top:10px">  
                <button type="submit" id="apply_filter" class="btn btn-primary">Save</button>  
            </div>  
        </form>
</table>
  </body>
</html>
    
