<!DOCTYPE html>
<html>
<head>
  <h2 align="center"> CIDSE Intake Form </h2>
  <script type="text/javascript">
    var person = '<%= @people.to_json %>';
    var center = '<%= @center.to_json %>';
    person = $.parseJSON(person.replace(/&quot;/ig, '"'));
    center = $.parseJSON(center.replace(/&quot;/ig, '"'));
  </script>
</head>  
<body class = "body">
  <form id="intake_form" method="POST" action="/intake" class="form-horizontal top_10" enctype="multipart/form-data">
    <input type = "hidden" name = "authenticity_token"  value = "<%= form_authenticity_token %>" />
    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="sponsor" class="required"><b>Sponsor</b></label>  
        <input type="text" class="input-xxlarge sponsor"  name='sponsor' placeholder='sponsor name' data-validation="required" />
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>
    
    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="due_Date" class="required"><b>Due Date</b></label>  
        <input type="text" class="input-xxlarge" id="due_Date" name="due_Date" maxlength="10" data-validation="date" data-validation-format="mm-dd-yyyy">   
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>
    
    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">

        <label for="funding_option" class="required"><b>Funding Announcement, attach file or link</b></label> 
        <input type="radio" data-validation="required" name="funding_option" class="funding_check" value="attach_file" > <strong>Attach File</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="funding_option" class="funding_check" value="provide_link"> <strong>Provide Link</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
        
        <input type="text" class="input-xxlarge" style="display:none;" id="remote_url" name="remote_url"  data-validation="required" placeholder="write url of the link">   

        <div id="file_upload" style="display:none;">  
          <input id="file_upload_input" name='file_name' type="file" data-validation="mime size required" 
           data-validation-allowing="jpg, png, pdf, gif, zip" 
           data-validation-max-size="3M" 
           data-validation-error-msg-size="You can not upload files larger than 3MB"
           data-validation-error-msg-mime="You can only upload jpg, png, pdf, gif, zip format" class="bottom_5">
        </div>
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="collaboration" class="required"><b>Collaborator Information</b></label> 
        <div class="clearfix">
          <div class="col-md-12 column">
            <table class="table table-bordered table-hover width_60" id="tab_logic">
              <thead>
                <tr >
                  <th class="text-center">
                    #
                  </th>
                  <th class="text-center">
                    Name
                  </th>
                  <th class="text-center">
                    Center
                  </th>
                  <th class="text-center">
                    Allocation
                  </th>
                  <th class="text-center">
                    -
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id='addr0'>
                  <td>
                    PI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                  <td>
                    <select class="form-control collaborator" name="collaborator[]" data-validation="required"> 
                      <option value= ""></option>
                      <% @people.each do |record| %>
                      <option value="<%=record %>"><%=record %></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" name='collaborator_text[]' style="display:none;" placeholder='Name' data-validation="other_value" class="form-control collaborator_name"/>
                  </td>
                  <td>
                    <select class="form-control center" name="center[]" data-validation="required"> 
                      <option value= ""></option>
                      <% @center.each do |record| %>
                      <option value="<%= record %>"><%=record%></option>
                      <% end %>
                      <option value= "other">Other</option>
                    </select>
                    <input type="text" name='center_text[]' style="display:none;" placeholder='Center Name' data-validation="other_value" class="form-control collaborator_center"/>
                  </td>
                  
                  <td>
                    <input type="text" class="input-small form-control"  name='allocation[]' placeholder='Allocation %' data-validation="validate_100" />
                  </td>
                  <td>
                  </td>
                </tr>
                <tr id='addr1'></tr>
              </tbody>
            </table>
          </div>
        </div>
        <a id="add_row" class="btn btn-default pull-left">Add CO-PI</a>

      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="external_collaborator"><b>External Collaborator Information</b></label> 
        <div class="clearfix">
          <div class="col-md-12 column">
            <table  border="1"  class="table table-hover width_85" id="tab_col">
              <thead>
                <tr >
                  <th class="text-center">
                    #
                  </th>
                  <th class="text-center">
                    Questions
                  </th>
                  <th class="text-center">
                    Information
                  </th>
                  <th class="text-center">
                    -
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id='addr0'>
                  <td rowspan="4"><li></li></td>
                  <td >
                    Name
                  </td>
                  <td>
                    <input type="text" name='external_name[]'  placeholder='Name' class="form-control"/>
                  </td>
                  <td rowspan="4"><a class='pull-right btn btn-danger delete_box'>Delete</a></td>
                </tr>
                <tr id='addr0'>
                  <td>
                    Contact
                  </td>
                  <td>
                    <input type="text" name='external_contact[]'  placeholder='Contact' class="form-control"/>
                  </td>
                </tr>
                <tr id='addr0'>
                  <td>
                    Which Institution is the Lead?
                  </td>
                  <td>
                    <input type="text" name='external_institution[]'  placeholder='Institution Name' class="form-control"/>
                  </td>
                </tr>
                <tr id='addr0'>
                  <td>
                    Name of Lead PI at collaborating institutions? 
                  </td>
                  <td>
                    <input type="text" name='external_PI[]'  placeholder='Name of Lead PI' class="form-control"/>
                  </td>
                </tr> 
                <tr id='addr1'></tr>
              </tbody>
            </table>
          </div>
        </div>
        <a id="add_clrow" class="btn btn-default pull-left">Add Collaborators</a>

      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="title" class="required"><b>Project Title</b></label>  
        <input type="text" class="input-xxlarge form-control" name="title" id="title" placeholder="Project Title" data-validation="required">  
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    
    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="startDate" class="required"><b>Project Start Date</b></label>  
        <input type="text" class="input-xxlarge" id="startDate" name="startDate" maxlength="10" data-validation="date" data-validation-format="mm-dd-yyyy">   
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="endDate" class="required"><b>Project End Date</b></label>  
        <input type="text" class="input-xxlarge" id="endDate" name="endDate" maxlength="10" data-validation="date" data-validation-format="mm-dd-yyyy">   
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="budget"><b>Budget request</b></label> 
        <input type="radio" class="budget" name="budget" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" class="budget" name="budget" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>                      
        <div id="budget" style="display:none;">
          <input type="text" name="total_budget" placeholder="Total project budget targets">
          <input type="text" name="annual_budget"placeholder="Annual budget targets">
          <input type="text" name="pi_co_effort" placeholder="PI and Co-PI effort">
          <input type="text" name="grad_student" placeholder="Graduate students">
          <input type="text" name="post_docs"  placeholder="Post Docs">
          <input type="text" name="other_staff"  placeholder="Other Staff">
          <input type="text" name="material_supplies"placeholder="Materials and Supplies">
          <input type="text" name="equipment_fees" placeholder="Equipment and Facility Use Fees">
          <input type="text" name="consultants"  placeholder="Consultants">
          <input type="text" name="subgrant"  placeholder="Subgrants or collaborators">
          <input type="text" name="publications" placeholder="Publications">
          <input type="text" name="foreign_travel" placeholder="Foreign Travel">
          <input type="text" name="domestic_travel"  style="display:block" placeholder="Domestic Travel">
          <textarea rows="8" name="domestic_description" class="span5 top_10" placeholder="If Domestic Travel amount present then specify the meetings or conferences you will attend."></textarea>  
          <input type="text" name="non_capital_equipment" style="display:block" placeholder="Non-Capital Equipment">
          <textarea rows="8" name="non_capital_description" class="span5 top_10" placeholder="If computer equipment is included, description of the equipment must indicate that the equipment is not general computer equipment that can be used on other projects or for faculty's academic appointment activities (ASU classes,etc.). The equipment must be described as uniquely required for and dedicated only to the project proposed."></textarea>  
          <input type="text" name="budget_other" style="display:block" placeholder="Other">
        </div>     
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="costshare"><b>Cost Share?</b></label> 
        <input type="radio" class="costshare" name="costshare" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" class="costshare" name="costshare" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
        <input type="text" class="input-xxlarge" style="display:none;"  id="funding" name="funding" placeholder="How much cost is shared?">   
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="human_subject"><b>Human Subjects?</b></label> 
        <input type="radio" name="human_subject" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="human_subject" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="clinical_trials"><b>Clinical Trials?</b></label> 
        <input type="radio" name="clinical_trials" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="clinical_trials" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="animals"><b>Vertebrate animals?</b></label> 
        <input type="radio" name="animals" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="animals" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="waste"><b>Biological, Hazardous Materials, or Chemical Materials Waste?</b></label> 
        <input type="radio" name="waste" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="waste" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label">Description goes here</label>
      </div>
    </div>


    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="ip_issues"><b>IP issues?</b></label> 
        <input type="radio" name="ip_issues" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" name="ip_issues" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="parent_div"> <!-- Main Div --> 
      <div class="form-group left_div">
        <label for="conflict"><b>Financial conflict of interest for this proposal</b></label> 
        <input type="radio" class="conflict" name="conflict" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
        <input type="radio" class="conflict" name="conflict" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>                      
        <input type="text" class="input-xxlarge" style="display:none;" id="conflict" name="conflict_person" placeholder="Please note with which investigator">   
      </div>
      <div class="control-group right_div">
        <label class="control-label" >Description goes here</label>
      </div>
    </div>

    <div class="form-actions" style="padding-top:10px; padding-left:20px">  
      <button type="submit" id="apply_filter" class="btn btn-primary">Submit</button>  &nbsp; &nbsp; &nbsp; &nbsp;  
      <button type="button" id="reset" class="btn btn-danger">Reset</button>  
    </div>  
  </form>
</body>
</html>