<nav class="fixed-nav-bar">
    <ul class="nav nav-pills topnav pull-right" style="margin-right:15px;margin-top:5px"  >
        <% if user_signed_in? %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :get ,:class=>'btn btn-primary'%> 
			<%= link_to "Change your password", edit_user_registration_path,:class=>'btn btn-warning',:style=>"margin-left:15px;" %>
		<% else %>
		    <%= link_to "Sign in", new_user_session_path ,:class=>'btn btn-primary'%>
		    <%= link_to "Sign up", new_user_registration_path ,:class=>'btn btn-primary'%>
		<% end %> 
    </ul>
</nav>
